* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
    background: rgb(220, 245, 197);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;

}
.links {
    display: flex;
    gap: 70px;
    font-size: 20px;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    gap: 50px;
}
.user img {
    width: 40px;
    height: 40px;
}

.x {
    margin-left: 400px;
}