.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 222, 240);
    justify-content: center;
    align-items: center;
}
.form input {
    display: flex;
    margin: 10px;
}